# SQL Lesson 16: Creating tables
**SQL Ders 16: Tablo oluşturma**

* Veritabanında depolanacak yeni veriler ve ilişkiler olduğunda, **CREATE TABLE** deyimini kullanarak yeni bir veritabanı tablosu oluşturabilirsin.

<img src = "https://i.hizliresim.com/6c7jj74.png">

* Yeni tablonun yapısı, bir dizi sütunu tanımlayan tablo şemasıyla tanımlanır. Her sütunun bir adı, o sütunda izin verilen türü, eklenen değeler üzerinde isteğe bağlı bir tablo kısıtlaması ve isteğe bağlı bir varsayılan değer vardır.
* Aynı ada sahip bir tablo zaten varsa, SQL uygulaması genellikle bir hata atar, bu nedenle hatayı bastırmak ve varsa bir tablo oluşturmayı atlamak için **IF NOT EXISTS** deyimini kullanabilirsin.

### Table data types
**Tablo veri türleri**

Farklı veritabanları farklı veri türlerini destekler, ancak yaygın türler sayısal, string ve tarihler, mantıksal değerler ve hatta binary veriler gibi diğer çeşitli şeyleri destekler. İşte gerçek kodda kullanabileceğin bazı örnekler.

| Data type | Description |
| --- | --- |
| **INTEGER**, **BOOLEAN** | Integer veri türleri, bir şeyin sayısı veya bir yaş gibi tamsayı değerlerini saklayabilir. Bazı uygulamalarda, boole değeri yalnızca 0 veya 1'lik bir tamsayı değeri olarak temsil edilir. |
| **FLOAT**, **DOUBLE**, **REAL** | Ondalıklı veri türleri, ölçümler veya kesirli değerler gibi daha kesin sayısal verileri depolayabilir. Bu değer için gereken ondalıklı hassasiyete bağlı olarak farklı türler kullanılabilir. |
| **CHARACTER(num_chars)**, **VARCHAR(num_chars)**, **TEXT** | Metin bazlı veri türleri, stringleri ve metni her türlü yerel ayarda depolayabilir. Çeşitli türler arasındaki ayrım, genellikle bu sütunlarla çalışırken veritabanının verimliliğinin altını çizer. Hem CHARACTER hem de VARCHAR (variable character) türleri, saklayabilecekleri maksimum karakter sayısıyla belirtilir (daha uzun değerler kesilebilir), bu nedenle büyük tablolarla depolamak ve sorgulamak daha verimli olabilir. |
| **DATE**, **DATETIME** | SQL, zaman serilerini ve olay verilerini takip etmek için tarih ve saat damgalarını da saklayabilir. Özellikle zaman dilimleri arasında verileri işlerken bunlarla çalışmak zor olabilir. |
| **BLOB** | Son olarak SQL, binary verileri doğrudan veritabanındaki bloblarda depolayabilir. Bu değerler genellikle veritabanı için opaktır, bu nedenle onları yeniden sorgulamak için genellikle doğru meta verilerle depolamanız gerekir. |

### Table constraints
**Tablo kısıtlamaları**

Bu derste tablo kısıtlamalarına çok derinlemesine girilmeyecek, ancak her sütunda, o sütuna hangi değerlerin eklenebileceğini sınırlayan ek tablo kısıtlamaları olabilir.

| Constraint | Description |
| --- | --- |
| **PRIMARY KEY** | Bu, bu sütundaki değerlerin benzersiz olduğu ve her değerin bu tablodaki tek bir satırı tanımlamak için kullanılabileceği anlamına gelir. |
| **AUTOINCREMENT** | Tamsayı değerler için bu, değerin otomatik olarak doldurulduğu ve her satır eklemede artırıldığı anlamına gelir. Tüm veritabanlarında desteklenmez. |
| **UNIQUE** | Bu, bu sütundaki değerlerin benzersiz olması gerektiği anlamına gelir, dolayısıyla bu sütuna tablodaki başka bir satırla aynı değere sahip başka bir satır ekleyemezsin. Tablodaki bir satır için bir anahtar olması gerekmediği için 'PRIMARY KEY'den farklıdır. |
| **NOT NULL** | Bu, girilen değerin "NULL" olamayacağı anlamına gelir. |
| **CHECK (expression)** | Bu, girilen değerlerin geçerli olup olmadığını test etmek için daha karmaşık bir ifade çalıştırmanıza olanak tanır. Örneğin, değerlerin pozitif veya belirli bir boyuttan büyük olup olmadığını kontrol edebilir veya belirli bir önekle başlayabilirsin, vb. | 
| **FOREIGN KEY** | Bu, bu sütundaki her değerin başka bir tablodaki bir sütundaki başka bir değere karşılık gelmesini sağlayan bir tutarlılık kontrolüdür. Örneğin, biri tüm çalışanları id'sine göre listeleyen ve diğeri bordro bilgilerini listeleyen iki tablo varsa, "FOREIGN KEY" bordro tablosundaki her satırın ana çalışan listesindeki geçerli bir çalışana karşılık gelmesini sağlayabilir. |

### An example
**Bir örnek**

Bir örnek şimdiye kadar derslerde kullandığımız **Movies** tablosu için örnek bir şema aşağıdadır.

<img src = "https://i.hizliresim.com/avs5jnq.png">

## Exercise

Bu alıştırmada, içine yeni satırlar ekleyebilmemiz için yeni bir tablo oluşturmamız gerekecek.

### 1. Aşağıdaki kolonlarla Veritabanı adlı yeni bir tablo oluştur:
* **Name**, Veritabanının adını açıklayan bir string (text)
* **Version**, Bu veritabanının en son sürümünün bir değeri (floating point)
* **Download_count**, Bu veritabanının indirilme sayısının tamsayı değeri
* Bu tablonun herhangi bir kısıtlaması yoktur.

<img src = "https://i.hizliresim.com/enolm4b.png">

<img src = "https://i.hizliresim.com/qbpqkt5.png">