# Senaryo

<img src = "https://i.hizliresim.com/tamv9ek.png">

<img src = "https://i.hizliresim.com/nknxyon.png">

## 1. Soru
**Customers isimli bir veritabanı oluşturunuz ve bu veritabanı içerisine gösterilen tabloları Management Studio üzerinden oluşturunuz.**

* Zorluk: 1

<img src = "https://i.hizliresim.com/nt1be05.png">

* Veritabanı, tablo, obje ve sütun isimlerini büyük harflerle oluştur.
*

## 2. Soru 

**Customers isimli bir veritabanı oluşturunuz ve bu veritabanı içerisine gösterilen tabloları SQL kodu yazarak oluşturunuz.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/5u3wcet.png">

* Databasei silerken bağlı kullanıcılardan da çıkış yapmak için **Close existing connections**ı işaretle.
* Tüm database nesnelerinde oluşturmak için **CREATE**, değiştirmek için **ALTER**, silmek için **DROP** kullanılır.
* <CODE>IDENTITY(1, 1)</CODE> kalıbı sütunun otomatik artan olduğunu belirtir.
    * 1'den başlar ve 1 eklenerek artar.
* Bir sütunda boş değer olmasını istemiyorsan **NOT NULL** da ekleyebilirsin ancak otomatik artan bir sütun için bu gerekli değildir.

## 3. Soru

**Kaynaklar bölümünden indirdiğiniz Customer.xlsx dosyasındaki kayıtları tablolara kopyala yapıştır yöntemi ile ekleyiniz.**

* Zorluk: 1

* Kayıtları atacağın tabloya sağ tıkla ve **Edit Top 200 Rows** sekmesine git.
* Sekmenin SQL kodunu görmek için **Show SQL Pane** sekmesine tıkla. (Ctrl+3)
* Baştaki ID kısmını sil ve **Execute SQL** yap. (Ctrl+R)
    * Bunun sebebi zaten otomatik artan bir ID alanı olması.
* Kayıtları alacağın excel dosyasına Shift ile sütunların değerlerini seçip Shift+Ctrl+Alt yön tuşu ile tüm verileri seçip kopyala.
* SSMS'de alttaki kısımdan satırı seçip yapıştır.

## 4. Soru

**Kaynaklar bölümünden indirdiğiniz Customer.xlsx dosyasındaki kayıtları import-export yöntemi ile ekleyiniz.**

* Zorluk: 3

* Veri setinin ilk satırı sütun başlıklarını barındırmalı.
* Seçili veritabanı üzerinden *Tasks* > *Import Data...* sekmesine git.
* Kaynağı Microsoft Excel olarak seç ve dosyanın dizinini belirt.
* SQL Server'a atmak istediğini belirt.
* Databasei import işleminden sonra belirli düzenlemeler yapman gerekebilir.
    * Örneğin id alanı float ve primary key olmayan şekilde gelebilir.
* Değiştirme işlemi hata verebileceği için;
    * *Tools* > *Options* > *Designers* > Son tiki kaldır.

## 5. Soru

**Kaynaklar bölümünden indirdiğiniz Customer.xlsx dosyasındaki kayıtları tablolara excel formülü yazarak ekleyiniz.**

* Zorluk: 3

* Formülü ilk satıra göre yaz. 
* Sayıları tırnak olmadan diğerlerini tek tırnak içerisinde yaz.
* Script çift tırnak içerisinde yazılır. Scriptten çıkıp excelden hücre eklemek için & kullanılır.
* <code>="INSERT INTO DISTRICTS VALUES("&Tablo3[@CITYID]&", '"&Tablo3[@DISTRICT]&"')"</code>

## 6. Soru
**Customers tablosundan adı 'A' harfi ile başlayan kişileri çeken sorguyu yazınız.**

* Zorluk: 1

<img src = "https://i.hizliresim.com/39iw4oe.png">

## 7. Soru
**Customers tablosundan adı 'A' harfi ile başlayan erkek müşterileri çeken sorguyu yazınız.**
* Zorluk: 1

<img src = "https://i.hizliresim.com/65qcqyu.png">

* **AND** ile şart sağlandığında ifadelerin hepsi tek tek düşünüldüğünde sorgunun sonucu en fazla, kayıtı en az getiren ifade kadar olur.
* **OR** ile şart sağlandığında ifadelerin hepsi tek tek düşünüldüğünde sorgunun sonucu en az, kayıtı en fazla getiren ifade kadar olur.

## 8. Soru
**1990 ve 1995 yılları arasında doğan müşterileri çekiniz. 1990 ve 1995 yılları dahildir.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/s4l4jj2.png">

## 9. Soru
**İstanbul'da yaşayan kişileri Join kullanarak getiren sorguyu yazınız.**

* Zorluk: 1

<img src = "https://i.hizliresim.com/7srze9v.png">

## 10. Soru
**İstanbul'da yaşayan kişileri subquery kullanarak getiren sorguyu yazınız.**
* Zorluk: 2

<img src = "https://i.hizliresim.com/nj90x3q.png">

* Subqueryi istersen select içinde istersen where şartında kullanabilirsin.
* Where şartının eşleştiğine dikkat et.
* Eğer birden fazla şehir istersen hem joinde hem de subqueryde in kullanırsın.

## 11. Soru
**Hangi şehirde kaç müşterimizin olduğu bilgisini getiren sorguyu yazınız.**

* Zorluk: 1

<img src = "https://i.hizliresim.com/r03r9xe.png">

* Bütün şehirleri almak için ya join türünü değiştir ya da cities üzerinden gidip subquery olarak getir.

## 12. Soru
**10'dan fazla müşterimiz olan şehirleri müşteri sayısı ile birlikte müşteri sayısına göre fazladan aza doğru şekilde getiriniz.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/bqj2h6i.png">

* Aggregate functions WHERE şartında kullanılmaz.
* HAVING'de AS'lı sütun kullanılmaz ama ORDER BY'da kullanılır.

## 13. Soru
**Hangi şehirde kaç erkek, kaç kadın müşterimizin olduğu bilgisini şekildeki gibi getiren sorguyu yazınız.**
<img src = "https://i.hizliresim.com/15ua2rp.png" width = 300>

* Zorluk: 2

<img src = "https://i.hizliresim.com/qsypgpc.png">

## 14. Soru
**Hangi şehirde kaç erkek, kaç kadın müşterimizin olduğu bilgisinin şekildeki gibi getiren sorguyu yazınız.**
<img src = "https://i.hizliresim.com/e1u0qry.png" width = 300>

* Zorluk: 2

<img src = "https://i.hizliresim.com/6xcgm3n.png">

## 15. Soru
**Customers tablosuna yaş grubu için yeni bir alan ekleyiniz. Bu işlemi hem management studio ile hem de sql kodu ile yapınız. Alan adı AGEGROUP veritipi varchar(50)**

* Zorluk: 2

<img src = "https://i.hizliresim.com/2qt9zsm.png">

## 16. Soru
**Customers tablosuna eklediğiniz AGEGROUP alanını 20-35 yaş arası, 36-45 yaş arası, 46-55 yaş arası, 55-65 yaş arası ve 65 yaş üstü olarak güncelleyiniz.**

* Zorluk: 3

<img src = "https://i.hizliresim.com/pwknd2m.png">

# 17. Soru
**Customers tablosunda müşterinin yaşına göre hesaplayarak şekildeki gibi bir sonuç getiriniz. Not: AGEGROUP alanı kullanılmadan sorgu getirilecektir.**

* Zorluk: 4

<img src = "https://i.hizliresim.com/cwjm41r.png">

* **Dinamik view** yapısı geçici olarak oluşturduğun tabloyu sorgulanacak hale getirmeye yarar. Parantez içine alıp isim vererek geçici bir tablo oluşturup üzerinden sorgular yapabilirsin.
* Ancak isimleri normal tablo ile farklı vermen gerekiyor ki aynı sütun aynı anda bulunamasın.
* Select içinde gruplanacak uzun bi sorguya ihtiyaç duyarsan tekrardan kaçınmak için bu yolu kullan.

## 18. Soru
**İstanbul'da yaşayıp ilçesi 'Kadıköy' dışında olanları listeleyiniz.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/le6hp3l.png">

## 19. Soru
**CITIES tablosundan 'ANKARA' kaydını sildiğimizi varsayalım. Bu durumda şehri 'ANKARA' olan müşterilerin şehir alanı boş gelecektir. Şehir alanı boş olan müşterileri listeleyen sorguyu yazınız.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/eu69dw3.png">

## 20. Soru
**Önceki soruda CITIES tablosundan silmiş olduğumuz Ankara ve İstanbul kayıtlarını aynı IDleri alacak şekilde yeniden tabloya insert ediniz.**

* Zorluk: 3

<img src = "https://i.hizliresim.com/jvmgqsl.png">

* <code>SET IDENTITY_INSERT ON</code> komutu kullanılarak otomatik artan sütunlara insert işlemi yapabilirsin.

## 21. Soru
**Müşterilerimizin telefon numaralarının operatör bilgisini getirmek istiyoruz. TELNR1 ve TELNR2 alanlarının yanına operatör numarasını (532), (505) gibi getirmek istiyoruz. Bu sorgu için gereken SQL cümlesini yazınız.**

<img src = "https://i.hizliresim.com/4nagtxa.png" width = 300>

* Zorluk: 2

<img src = "https://i.hizliresim.com/iid450b.png">

* **SUBSTRING**, başlangıç ve karakter sayısını alır
* **LEFT**, başlangıcı 1'dir sadece karakter sayısı alır

## 22. Soru
**Müşterilerimizin telefon operatör bilgisini getirmek istiyoruz. Örneğin telefon numaraları "50" ya da "55" ile başlayan "X" operatörü, "54" ile başlayan "Y" operatörü, "53" ile başlayan "Z" operatörü olsun. Burada hangi operatörden ne kadar müşterimiz olduğu bilgisini getirecek sorguyu yazınız.**

* Zorluk: 4

<img src = "https://i.hizliresim.com/tlqe32r.png">

#### Alternatif 

<img src = "https://i.hizliresim.com/hxkpa4g.png">

## 23. Soru
**Her ilde en çok müşteriye sahip olduğumuz ilçeleri müşteri sayısına göre çoktan aza doğru sıralı şekilde şekildeki gibi getirmek için gereken sorguyu yazınız.**

<img src = "https://i.hizliresim.com/qpy75dw.png" width = 300>

* Zorluk: 2

<img src = "https://i.hizliresim.com/cdeb73w.png">

## 24. Soru
**Müşterilerin doğum günlerini resimdeki gibi haftanın günü olarak getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/lid8w48.png" width = 300>

* Zorluk: 3

<img src = "https://i.hizliresim.com/imtagzr.png">

## 25. Soru
**Doğum günü bugün olan müşterilerin listesini getiriniz.**
* Zorluk: 3

<img src = "https://i.hizliresim.com/ktx02fp.png">