# Senaryo

<img src = "https://i.hizliresim.com/ojvqz3y.png">

<img src = "https://i.hizliresim.com/48uc01o.png">

<img src = "https://i.hizliresim.com/pcfzot2.png">

## 1. Soru
**HR isimli bir veritabanı oluşturunuz ve bu veritabanı içerisine gösterilen tabloları Management Studio üzerinden oluşturunuz.**

* Zorluk: 1

<img src = "https://i.hizliresim.com/5tfv46e.png" width = 350>

<img src = "https://i.hizliresim.com/25st5wm.png" width = 350>

<img src = "https://i.hizliresim.com/6t23qv6.png" width = 350>

## 2. Soru
**HR isimli bir veritabanı oluşturunuz ve bu veritabanı içerisine gösterilen tabloları SQL kodu yazarak oluşturunuz.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/fh9s0tz.png">

## 3. Soru
**Kaynaklar bölümünden indirdiğiniz HR.xlsx dosyasındaki kayıtları tablolara kopyala-yapıştır yöntemi ile ekleyiniz.**

* Zorluk: 1

## 4. Soru
**Şirketimizde halen çalışmaya devam eden çalışanların listesini getiren sorgu hangisidir? Not: İşten çıkış tarihi boş olanlar çalışmaya devam eden çalışanlardır.**

* Zorluk: 2

<img src = "https://i.hizliresim.com/kfz4fwn.png">

* *NULL* olan alanlar *WHERE* şartında *=* ile getirilmez. Onun yerine *IS* kullanılır. Eğer boş olmayanları getirmek istiyorsan da *IS NOT NULL* kullanırsın.

## 5. Soru
**Şirketimizde departman bazlı halen çalışmaya devam eden KADIN ve ERKEK sayılarını şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/tl7bdy8.png" width = 300>

* Zorluk: 2

<img src = "https://i.hizliresim.com/1ok3gc4.png">

* Eğer iki seçenekli *CASE* kullanıyorsan *ELSE* kullan. 
* *CASE* kullandığında gruplaman aynı temelde kalıyorsa *GROUP BY*da *CASE* kullanmana gerek yok.

## 6. Soru
**Şirketimizde departman bazlı halen çalışmaya devam eden KADIN ve ERKEK sayılarını şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/sijdjx5.png" width = 300>

* Zorluk: 3

<img src = "https://i.hizliresim.com/6f2qp49.png">

## 7. Soru
**Şirketimizin Planlama departmanına yeni bir şef ataması yapıldı ve maaşını belirlemek istiyoruz. Planlama departmanı için minimum, maximum ve ortalama şef maaşı getiren sorgu hangisidir? (Not: işten çıkmış olan personel maaşları da dahildir.)**

<img src = "https://i.hizliresim.com/26hz9cl.png" width = 350>

* Zorluk: 3

<img src = "https://i.hizliresim.com/89ixn9h.png">

* Özetlediğimiz bir *POSITION* olduğu için o tablodan da ilerlenilebilir. 
* Hem *INNER JOIN* ile hem de *SUBQUERY* ile yapılabilir.
* *SUBQUERY* 'den bir değer geldiği için üzerinde *ROUND* gibi bir fonksiyon uygulanabilir.

## 8. Soru
**Her bir pozisyonda mevcut halde çalışanlar olarak kaç  kişi ve ortalama maaşlarının ne kadar olduğunu listelettirmek istiyoruz. Bu sonucu getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/hsmp0nd.png" width = 350>

* Zorluk: 3

<img src = "https://i.hizliresim.com/2p7axoo.png">

## 9. Soru
**Yıllara göre işe alınan personel sayısını kadın ve erkek bazında listelettiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/nz4linj.png" width = 350>

* Zorluk: 3

<img src = "https://i.hizliresim.com/b73u83g.png">

* Eğer *Aggregate functions* kullanmayacaksan *GROUP BY* yerine *DISTINCT* kullanmak mantıklı olabilir.
* *SUBQUERY* işlemini aynı tablo içerisinden de yapabilirsin bunun için tablona *Alias* ver.

## 10. Soru
**Her bir personelimizin ne kadar zamandır çalıştığı bilgisini şekildeki gibi ay olarak getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/kgm6cu1.png" width = 350>

* Zorluk: 3

<img src = "https://i.hizliresim.com/hgmtccs.png">

* *UNION ALL* ile sütunları aynı bilgiyi taşıyan tabloları birleştirebilirsin.

## 11. Soru
**Şirketimizin 5. Yılında üstünde herkesin isminin ve soyisminin baş harflerinin bulunduğu bir ajanda bastırıp çalışanlarına hediye edecektir. Bunun için hangi harf kombinasyonundan en az ne kadar sayıda ajanda bastırılacağı sorusunun cevabını getiren sorguyu yazınız. Not: İki isimli olanların birinci isminin baş harfi kullanılacaktır.**

<img src = "https://i.hizliresim.com/k7jq03l.png">

* Zorluk: 3

<img src = "https://i.hizliresim.com/nwwidyi.png">

* *SUBSTRING* fonksiyonunu da kullanabilirsin.
* *GROUP BY* alırken noktaları koymana gerek yok.

## 12. Soru
**Maaş ortalaması 5.500 TL'den fazla olan departmanları listeleyecek sorguyu yazınız.**

<img src = "https://i.hizliresim.com/36c3mqy.png" width = 350>

* Zorluk: 3

<img src = "https://i.hizliresim.com/fif6rjy.png">

* Dinamik view kullanarak filtrelemeyi *WHERE* ile de yapabilirsin.

## 13. Soru
**Departmanların ortalama kıdemini ay olarak hesaplayacak ve şekildeki gibi çekecek sorguyu yazınız.**

<img src = "https://i.hizliresim.com/q4po2p9.png" width = 350>

* Zorluk: 4

<img src = "https://i.hizliresim.com/tq3cy1y.png">

* *CASE* 'in ortalamasını almayıp dinamik view kullanıp oradan da ortalamayı alabilirsin ama ne gerek var xd

## 14. Soru
**Her personelin adını, pozisyonunun bağlı olduğu birim, yöneticisinin adını ve pozisyonunu şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/1jnyerv.png">

* Zorluk: 4

<img src = "https://i.hizliresim.com/9a8q6f1.png">

* Eğer bir tablo içindeki bir sütun aynı tablodaki başka bir sütunu işaret ediyorsa tablo kendisiyle *INNER JOIN* yapılır.
* *JOIN* lediğin tablodaki ID'yi önce yaz.