# SQL Lesson 10: Queries with aggregates (Pt. 1)
**SQL Ders 10: Toplamalı sorgular (Pt.1)**

* SQL, geçen derste tanıttığımız basit ifadelere ek olarak, bir veri satırı grubu hakkındaki bilgileri özetlemenizi sağlayan toplu ifadelerin (veya fonksiyonların) kullanımını da destekler. Kullanmakta olduğun Pixar veri tabanı ile, "Pixar kaç film çekti?" veya "Her yıl en çok hasılat yapan Pixar filmi nedir?" gibi soruları yanıtlamak için aggregate functionları kullanılabilir.

<img src = "https://i.hizliresim.com/ksa18cu.png">

* Belirli bir gruplama olmadan, her toplama işlevi tüm sonuç satırları kümesinde çalışacak ve tek bir değer döndürecektir. Ve normal ifadelerde olduğu gibi, toplama fonksiyonlarına bir alias vermek, sonuçların daha kolay okunmasını ve işlenmesini sağlar.

### Common aggregate functions
**Ortak toplama fonksiyonları**

* Örneklerde kullanılacak bazı genel toplama fonksiyonları şunlardır: 

#### COUNT(*), COUNT(column)

Kolon adı belirtilmezse gruptaki satır sayısını saymak için kullanılan yaygın bir fonksiyon. Aksi takdirde, belirtilen sütunda NULL olmayan değerlere sahip gruptaki satır sayısını sayar.

#### MIN(column)

Gruptaki tüm satırlar için belirtilen kolondaki en küçük sayısal değeri bulur.

#### MAX(column)

Gruptaki tüm satırlar için belirtilen kolondaki en büyük sayısal değeri bulur.

#### AVG(column)

Gruptaki tüm satırlar için belirtilen kolondaki ortalama sayısal değeri bulur.

#### SUM(column)

Gruptaki tüm satırlar için belirtilen kolondaki tüm sayısal değerlerin toplamını bulur.

### Grouped aggregate functions
**Gruplanmış aggregate fonksiyonlar**

Tüm satırlarda toplamaya ek olarak, toplama fonksiyonlarını o grup içindeki bireysel veri gruplarına da uygulayabilirsin (örn. komedi ve aksiyon filmleri için gişe satışları)

* Bu daha sonra **GROUP BY** deyimi tarafından tanımlanan benzersiz gruplar kadar çok sonuç yaratacaktır.

<img src = "https://i.hizliresim.com/o64lufn.png">

* **GROUP BY** deyimi, belirtilen sütunda aynı değere sahip satırları gruplandırarak çalışır.

## Exercise

* Bu alıştırma için, **Employees** tablosuyla çalışacaksın. Bu tablodaki satırların, ekipler hakkında bazı üst düzey ölçümleri özetlemek için toplama fonksiyonlarını kullanma fırsatı verecek olan verileri nasıl paylaştığına dikkat et.

### 1. Bir çalışanın stüdyoda bulunduğu en uzun süreyi bul.

<img src = "https://i.hizliresim.com/fqbe1co.png">

<img src = "https://i.hizliresim.com/9k6j97l.png">

### 2. Her rol için, çalışanların o rolde çalıştıkları ortalama yıl sayısını bul.

<img src = "https://i.hizliresim.com/izmd9ri.png">

<img src = "https://i.hizliresim.com/f4o96yu.png">

### 3. Her binada çalışılan toplam çalışan yılı sayısını bul.

<img src = "https://i.hizliresim.com/s8ptwwf.png">

<img src = "https://i.hizliresim.com/osw2rq9.png">