# SIMPLE QUERIES

## 1. Nispeten kolay

**Veritabanındaki tüm olayları, en yenisi en başta olmak üzere listelemek için bir sorgu oluştur**

**tblEvent** tablosundan aşağıdaki kolonları en yenisi en başta olmak üzere listelemek için bir sorgu oluştur (bunun için **ORDER BY** kullanman gerekir):
* Event adı
* Event tarihi

**Not:** Sorgunun çeşitli kısımlarına girinti koyarsan ve üzerine yorumlar eklersen daha kaliteli bir sorgu olur!

Çalıştırdığında sorgunun göstermesi gereken: 

<img src = "https://i.hizliresim.com/q2hi85y.png">

Sorguyu **What a way to start.sql** olarak kaydet ve kapat.

### What a way to start.sql

<img src = "https://i.hizliresim.com/7569sbd.png">

---

## 2. Nispeten kolay

**Tablodaki son 3 kategoriyi göstermek için TOP N'i kullanarak bir sorgu oluştur**

**tblCategory** tablosundan son 3 kategorinin id numarasını ve adını alfabetik sırayla listelemek için bir sorgu oluştur: 

<img src = "https://i.hizliresim.com/o4z0ovm.png">

**Not:** Yalnızca bir sorgu için ilk *N* satırı listelemek için *SELECT TOP N*i kullanabileceğini unutma.

Sorguyu **Last 3 categories.sql** olarak kaydet ve kapat.

### Last 3 categories.sql

<img src = "https://i.hizliresim.com/qm3k4qs.png">

---

## 3. Ortalama zorluk

**İlk 5 olayı kronolojik sırayla listelemek için bir sorgu oluştur**

**tblEvent** tablosundan ilk 5 olayı (tarih sırasına göre) göstermek için bir sorgu yaz:

<img src = "https://i.hizliresim.com/3avwlxk.png">

Bu konuda dikkat edilmesi gereken birkaç şey var:

* Kolonlara alias vermelisin (**What** ve **Details**);
* Sonuçları 5 satırla sınırlamak için *SELECT TOP 5* kullanmalısın;
* Etkinlik tarihine göre sıralama yapıyorsanız bile bunu sonuca dahil etmen gerekmez.

Sorguyu **The dawn of history.sql** olarak kaydet ve kapat.

### The dawn of history.sql

<img src = "https://i.hizliresim.com/p7sp31b.png">

---

## 4. Ortalamadan daha zor

**İlk ve son olayları göstermek için iki SELECT sorgusu çalıştır**

**tblEvent** tablosundan ilk ve son 2 olayı tarih sırasına göre göstermek için iki ayrı **SELECT** ifadesi kullanan bir sorgu oluştur: 

<img src = "https://i.hizliresim.com/68z43q6.png">

* Bu sonuçları almak için iki **SELECT** komutunu arka arkaya çalıştır.

Şimdi çalıştırdığında böyle bir şey elde etmek için bu sorgunun çıktısını grid yerine texte yönlendir: 

<img src = "https://i.hizliresim.com/iwmxa5m.png">

* Aynı sonuç ancak text formunda. (Resul to Text (Ctrl + T))

**Not:** Bunun dağınık göründüğünü düşünüyorsan (ki öyle), satır numarası mesajlarını bastırmak için sorgunun başına **SET NOCOUNT ON** komutunu eklemeyi dene.

Sorguyu **How times change.sql** olarak kaydet ve kapat.

### How times change.sql

<img src = "https://i.hizliresim.com/jnrnh6b.png">

<img src = "https://i.hizliresim.com/n1i3xey.png">

---

# ARCHIEVED

## 1092. Ortalama zorluk

**Fransa'da gerçekleşen başlıkta Concorde'un yer aldğı tüm olayları göstermek için bir sorgu oluştur**

Concorde ile ilgili tüm olayları listeyelen bir sorgu oluştur (yani, **Description** kolonunda bir yerde **Concorde** olan):

<img src = "https://i.hizliresim.com/1t7thly.png">

* Belirgin hale gelecek nedenlerden dolayı, CountryId'yi sorguna dahil et.

Şimdi, yalnıca 6 numaralı ülkede (Fransa) gerçekleşen Concorde ile ilgili olayları gösterecek şekilde sorguna başka bir **WHERE** ekle:

<img src = "https://i.hizliresim.com/svswfck.png">

Sorguyu **French Concorde events.sql** olarak kaydet ve kapat.

### French Concorde events.sql

<img src = "https://i.hizliresim.com/6gpgxns.png">

---

## 1091. Nispeten kolay

**1940'larda Almanya'da meydana gelen tüm tarihsel olayları listeleyen bir sorgu oluştur**

Tüm Almanya olayları için olay tarihini ve olay adını listeleyen bir sorgu oluştur (yani, CountryId'nin 7'ye eşit olduğu tüm olaylar için): 

<img src = "https://i.hizliresim.com/pgqjrxe.png">

* Veritabanımızda Almanya'da gerçekleşen 6 olay var.

Şimdi **WHERE**'i yalnızca 1940'larda Almanya'da meydana gelen olayları gösterecek şekilde değiştir (yani, **EventDate** kolonu 1 Ocak 1940 ile 31 Aralık 1949 arasında yer alır):

<img src = "https://i.hizliresim.com/2ekypg0.png">

* Bu seni sadece bu 2 olaya götürmeli.

Sorguyu **German events in 40s.sql** olarak kaydet ve kapat.

### German events in 40s.sql

<img src = "https://i.hizliresim.com/cv0qqdz.png">

---

## 1095. Nispeten kolay

**Geçmişteki her olay için girilen açıklamanın uzunluğunu gösteren bir sorgu oluştur**

Her olayın adını, açıklamasının uzunluğuyla birlikte, en uzun açıklama önce görünecek şekilde sıralanmış olarak göstermek için bir sorgu oluştur: 

<img src = "https://i.hizliresim.com/alehws9.png">

Sorguyu **Showing length of description.sql** olarak kaydet ve kapat.

### Showing length of description.sql

<img src = "https://i.hizliresim.com/ji00m0i.png">

---

## 1097. Nispeten kolay

**ISNULL veya COALESCE kullanarak ülke ve kıta idsini (veya bu boşsa 0) göstermek için bir sorgu oluştur**

**tblCountry** tablosundaki tüm üşkelerin listesini ters alfabetik sırayla göstermek için bir sorgu oluştur. Bir ülkenin kıta kimliği yoksa, bunu 0 ile değiştir:

<img src = "https://i.hizliresim.com/6vymfn7.png">

Sorguyu **Denullification** olarak kaydet ve kapat.

### Denullification.sql

<img src = "https://i.hizliresim.com/nzii6wf.png">

---

## 1088. Nispeten kolay

**Geçmiş olayları, en yenisi en başta olmak üzere listelemek için basit bir sorgu oluştur**

**tblEvent** tablosundan aşağıdaki kolonları listelemek için bir sorgu oluştur:
* **EventName**
* **EventDate**

Satırların, en son olay en başta gelecek şekilde tarih sırasına göre görünmelidir.

<img src = "https://i.hizliresim.com/gltqn4q.png">

**Not**: Sorgunun çeşitli kısımlarına girinti koyarsan ve üzerine yorumlar eklersen daha kaliteli bir sorgu olur!

Sorguyu **Listing events in reverse date order.sql** olarak kaydet ve kapat.

### Listing events in reverse date order.sql

<img src = "">

---

## 3993. Nispeten kolay

**SELECT kullanarak doktorların isimlerini alfabetik olarak listele.**

Burada bir hatırlatma olarak, temel bir **SELECT** ifadesinin düzeni şöyledir: 

<img src = "https://i.hizliresim.com/f4im1nf.png">

**tblDoctor**'daki isimleri doğum tarihine göre listelemek için bir **SELECT** ifadesi yaz.

**Not:** Sonuçlarının sıralama düzenini ayarlamak için **ORDER BY** kullan.

Sonuçların şöyle görünmelidir: 

<img src = "https://i.hizliresim.com/hs602q5.png">

Sorguyu **List of Doctors.sql** olarak kaydet ve kapat.

### List of Doctors.sql

<img src = "">

---

## 1090. Ortalamadan daha zor

**Bir header oluşturmak için PRINT'i kullanarak bir tablodan metne ayrıntıları listelemek için bir sorgu oluştur**

Yeni bir sorgu oluştur ve çıktısını metne yönlendirmeyi seç.

**PRINT** kullanarak, sorgunu **tblEvent** tablosundan aşağıdaki kolonları listleyecek şekilde yaz: 
* **EventName**
* **EventDate**

Sorgun aşağıdaki metin sonuçlarını üretmelidir: 

<img src = "https://i.hizliresim.com/50b5sv7.png">

* EventDate kolonunu görmek için sağa kaydırman gerekebilir.

Sorguyu **Printed list.sql** olarak kaydet ve kapat.

### Printed list.sql

<img src = "">

---

## 2361. Ortalamadan daha zor

**En üstteki ve en alttaki 5 olayı alfabetik sırayla göstermek için tek bir sorgu oluştur**

İlk ve son 5 olayı alfabetik sırayla göstermek için tek bir sorgu oluştur: 

<img src = "https://i.hizliresim.com/ajifes9.png">

* Kolon isimlerinin farklı başlıklara sahip olduğunu unutma.

Sorguyu **Show top and bottom 5 events.sql** olarak kaydet ve kapat.

### Show top and bottom 5 events.sql

<img src = "">

---

## 1797. Ortalamadan daha zor

**Tercih ettiğin herhangi bir yöntemi kullanarak bir eğitmen idleri stringini bir tablo isimleri stringine dönüştür**

Bir şekilde, eğitmen idlerinin herhangi bir virgülle ayrılmış id stringini 

<img src = "">

Sorguyu **.sql** olarak kaydet ve kapat.

### .sql

<img src = "">

---

## 

****



<img src = "">

Sorguyu **.sql** olarak kaydet ve kapat.

### .sql

<img src = "">

---

# JOINS

## 2363. Ortalamadan daha zor

**Bir tablodaki (films) tüm kayıtları, dolaylı olarak bağlantılı diğerinde (actors) ilgili kayıt olmadan göster**

Oyuncusu olmayan 96 filmi göstermek için bir sorgu yaz:

<img src = "https://i.hizliresim.com/2m7u3y4.png">

* Alfabetik sırayla ilk birkaç oyuncusuz film

**Not:** Film tablosundan cast tablosuna, cast tablosundan da actor tablosuna join yapman gerekiyor.

Vaktin varsa, veri tabanındaki hiçbir filmde yer almayan oyuncu olmadığını göstermek için başka bir sorgu yaz.

Sorguyu **Filmes sans acteurs.sql** olarak kaydet ve kapat.

### Filmes sans acteurs.sql

<img src = "">

---