# 7.1_T-SQL Programlamaya Giriş

Diğer tüm programlama dillerinde yapılabilecek hemen her şey T-SQL'de yapılabilir.
Bu işlemler arasında;
* **Değişkenler**; değişken tanımlama, değer atama, veritabanı sorgusundan gelen veriyi değişkene atama 
* **Şart blokları**; bir şart sağlanıyor ise şu işlemi yap
* **Döngüler**; bir işlemi belli bir sayıda tekrar ederek yaptır
* **Hata yönetimi**; herhangi bir hata ile karşılaşıldığında bir takım işlemler gerçekleştirme vs
* **Cursor kavramı**; bir takım işlemleri döngüyle gerçekleştirme, müşteri tablosundaki her bir müşteri için satır satır dönerek işlem gerçekleştir, sorgudan dönen veriler içinde döngü

----

# 7.2_T-SQL'de Değişkenler Giriş

Bir işlem gerçekleştireceğin zaman o değeri tekrar tekrar kullanmak için bir değişken tanımlayıp içine atarsın.

Değişken altbaşlıkları;

* Değişken kavramı
* Değişken tanımlama
* Değişkene değer atama
* Varsayılan değer tanımlama
* Değişkenden değer okuma
* SQL sorgusundan gelen değerden değişkene değer atama
* SQL sorgusu içinde değişkenleri kulanma
    
----

# 7.3_Değişkene Değer Tanımlama (Integer)

T-SQL'de bir değişken **DECLARE** komutu ile **@** işaretiyle değişkene bir isim ve bir de tip verilerek tanımlanır.

<img src = "https://i.hizliresim.com/aijenv5.png">

### Örnek
Değişkenler ile işlemler yaparak değişkene değer atama

<img src = "https://i.hizliresim.com/dvxfl0i.png">

### Not
* **NULL** bir değer ile matematiksel bir değer işleme girerse **NULL** döner.

## Default Değer Tanımlama

<img src = "https://i.hizliresim.com/jrzh4qn.png">

* Default olarak tanımlandıktan sonra **SET** ile tekrar değer atama yapılırsa atanan son değer değişkenin değeridir.

----

# 7.4_Değişkene Değer Tanımlama (Varchar)

* Değişkenler **VARCHAR** türünde de tanımlanabilir ve üzerinde işlemler yapılabilir.
* Değişkenler üzerinde fonksiyonlar kullanılabilir.

<img src = "https://i.hizliresim.com/e8xdv5d.png">

* **NULL** bir değer ile string bir değer işleme girerse yine **NULL** döner. Ancak **CONCAT** ile NULL dönmemesini sağlayabilirsin.

---

# 7.5_Değişkene Değer Tanımlama (Datetime)

* Doğum tarihi bilinen birinin 28 ay önceki yaşı

<img src = "https://i.hizliresim.com/h1w68kd.png">

* Bir tarih saat değişkeninin aralıklarını farklı değişkenlere atama

<img src = "https://i.hizliresim.com/cw9foun.png">

---

# 7.6_SQL Sorgusundan Gelen Değeri Değişkene Atama

* SQL sorgusundan gelen tek bir değeri değişkene atamak için iki farklı yol vardır.
* Ya değişkeni tanımlayıp doğrudan sorgunun içinde atama yaparsın;

<img src = "https://i.hizliresim.com/o11rk9s.png">

* Ya da dönen tekli değeri **SET** ile değişkene atarsın;

<img src = "https://i.hizliresim.com/9lqiwn5.png">

### Sorgudan birden fazla değer dönüyorsa;

* Bu durumda **SET** ile atama yaptığımız yöntem pek kullanışlı olmaz çünkü SQL sorgularını tekrar tekrar yazmayı gerektirir.

<img src = "https://i.hizliresim.com/d4hn97d.png">

----

# 7.7_SQL Sorgusuna Parametre Gönderme

* T-SQL'de tanımladığın bir değişkeni SQL sorgularında koşul parametresi olarak kullanabilirsin.

<img src = "https://i.hizliresim.com/a20c5w5.png">

---

# 7.8_Alıştırmalar 1

### Soru

T-SQL ile tanımlanan iki sayının toplamını, farkını, çarpımını ve birbirine olan bölme işlemlerini gerçekleştiriniz.

### Cevap

<img src = "https://i.hizliresim.com/l8ugjo6.png">

### Not

* Bölme işleminde iki int bölündüğünde değişkeni float olarak tanımlasan bile int elde edersin. İki int değerinin sonucunda float değer elde edebilmek için herhangi bir değişkeni floata dönüştürmen gerekir.

# 7.9_Alıştırmalar 2

### Soru

<img src = "https://i.hizliresim.com/fa5iezx.png">

### Cevap

<img src = "https://i.hizliresim.com/75mtxju.png">

---

# 7.10_Alıştırmalar 3

### Soru

<img src = "https://i.hizliresim.com/gbjxlzf.png">

### Cevap

<img src = "https://i.hizliresim.com/pvjxnhg.png">

---

# 7.11_Alıştırmalar 4

### Soru

<img src = "https://i.hizliresim.com/m1dw9ti.png">

### Cevap

<img src = "https://i.hizliresim.com/m0b4rrh.png">

#### Benim anladığım

<img src = "https://i.hizliresim.com/s8us6ke.png">

---

# 7.12_Alıştırmalar 5

### Soru

<img src = "https://i.hizliresim.com/63dvt1u.png">

### Cevap

<img src = "https://i.hizliresim.com/gc7uu8d.png">