# Senaryo
* Türkiyenin 81 ilinde şubesi olan ve online satışlar yapabilen bir e ticaret sitesi
    * 28.000 Ürün
    * 100.000+ Sipariş
    * 500.000+ Sipariş Satırı
    * 100.000+ Fatura
    * 10.000 Müşteri
    
<img src = "https://i.hizliresim.com/9jinoy1.png">

<img src = "https://i.hizliresim.com/qjghsgs.png">

<img src = "https://i.hizliresim.com/ra4axz4.png">

* Data Warehouse (Veri Ambarı) yapısı, raporlama adına ilişkisel verilerin joinlerinin yapılmış halde tek bir tabloda bulunduğu yapıdır. Tüm veriler tek bir tablodadır. Veritabanını yormamak üzere kullanılır. Özellikle geçmiş verilerde kullanılır. Flat table denir.

## 1. Soru
**SALEORDERS Tablosu üzerinde hangi şehirde ne kadarlık satış yapıldığı bilgisini çeken SQL sorgusunu yazınız.**

<img src = "https://i.hizliresim.com/lri6vm7.png">

* Zorluk: 2

<img src = "https://i.hizliresim.com/fdp8oui.png">

## 2. Soru
**SALEORDERS Tablosu şehirlere göre hangi ayda ne kadarlık satış yapıldığı bilgisini çeken SQL sorgusunu yazınız.**

<img src = "https://i.hizliresim.com/e4dkkcw.png">

* Zorluk: 2

<img src = "https://i.hizliresim.com/gws5g2b.png">

## 3. Soru
**Her ilin haftanın en çok hangi gününde satış yaptığını öğrenip ona göre şehir ve günlere özel kampanya yapmak istiyoruz. Şehirlerin haftanın günlerine göre ne kadarlık satış yaptığı bilgisini şekildeki gibi getiren sorguyu getiriniz.**

<img src = "https://i.hizliresim.com/rh0wxqh.png">

* Zorluk: 2

<img src = "https://i.hizliresim.com/spdjwad.png">

## 4. Soru

**Her ilin haftanın en çok hangi gününde satış yaptığını öğrenip ona göre şehir ve günlere özel kampanya yapmak istiyoruz. Şehirlerin haftanın günlerine göre ne kadarlık satış yaptığı bilgisini şekildeki gibi getiren sorguyu yazınız.**


<img src = "https://i.hizliresim.com/1tph6o6.png">

* Zorluk: 4

<img src = "https://i.hizliresim.com/17la6e7.png">

* Eğer doğrudan bir aggregation func kullanmıyorsan *GROUP BY* yerine *DISTINCT* de kullanabilirsin.

## 5. Soru
**Her ilin en çok satan ilk 5 kategorisini şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/b7zi8vx.png">

* Zorluk: 5

<img src ="https://i.hizliresim.com/ryckhsc.png">

* SQL'de ikinci bir tabloyla join yaparken eşleşen ilk bir kaç kaydın gelmesini istiyorsan TOP ifadesini kullanmak için *CROSS APPLY* kullanman gerekir.

## 6. Soru
**Her şehirde en çok satış yapılan 3 kategoriyi ve onun altında en çok satış yapılan 3 alt kateogriyi şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/e0effxv.png">

* Zorluk: 5

<img src = "https://i.hizliresim.com/8s83q6g.png">

## 7. Soru
**Tabloları Join ile birleştirerek SALEORDERS tablosunu doldurunuz.**

* Zorluk: 4

<img src = "https://i.hizliresim.com/dq2mwjs.png">

* Bir tablonun içini başka bir tablodan veya sorgudan doldurmanın iki yolu vardır.
* Birinci yol;
* Eğer ortada içi doldurulacak bir tablo yoksa iki şekilde yapılır.
* Bir tablo oluşturulur.
* İki tabloyu yazdığımız sorgu oluşturur.

<img src = "">

* **Kısaca sorgunu tablo olarak oluşturmak için FROM'dan önce INTO ile tablo ismi vererek tablonu oluştur.**

## 8. Soru
**İlişkisel tabloları kullanarak hangi şehirde ne kadarlık satış yapıldığı bilgisini getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/g8xfmxl.png">

* Zorluk: 3

<img src = "https://i.hizliresim.com/egdj1m0.png">

* <CODE>SET STATISTICS IO ON</CODE> sorgu çalışırken belleğin okuduğu page sayısını gösterir.
* *JOIN* ile çözebiliyorsan *JOIN* kullan. Yoksa *SUBQUERY*

## 9. Soru
**Her markanın ana kategoriye göre en çok satan CATEGORY1 alanını şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/euns8vs.png">

* Zorluk: 3

<img src = "https://i.hizliresim.com/laodwg0.png">

## 11. Soru
**Her kategorinin içerisinde en çok satan markayı şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/djwrdb3.png">

* Zorluk: 3

<img src = "https://i.hizliresim.com/5isjbbn.png">

## 12. Soru
**Her bir ürün zaman içinde farklı fiyatlar ile satılmaktadır. Her ürünün minimum, maximum ve ortalama ne kadar fiyattan satıldığı bilgisi ile kaç kez ve kaç adet satıldığı bilgisini şekildeki gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/6j1nhdj.png">

* Zorluk: 3

<img src = "https://i.hizliresim.com/g1nklar.png">

## 13. Soru
**Müşterilerin sistemde kayıtlı olduğu adres sayısını ve son alışveriş yaptığı adres bilgisini şekildei gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/ql7z748.png">

* Zorluk: 4

<img src = "https://i.hizliresim.com/7g4klmo.png">

## 14. Soru
**Müşterilerin sistemde kayıtlı adres sayısını ve son alışveriş yaptığı adres bilgisini şehir, ilçe ve semti ile birlikte şekildei gibi getiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/e2prkug.png">

* Zorluk: 5

<img src = "https://i.hizliresim.com/k038pex.png">

## 15. Soru
**Ocak ayı içerisinde en az 10 gün boyunca günlük 500 TL ve altında sipariş veren şehirleri şekildeki gibi listerettiren sorguyu yazınız.**

<img src = "https://i.hizliresim.com/4m2jg4f.png">

* Zorluk: 5

<img src = "https://i.hizliresim.com/e3aols3.png">

#### Alternatif

<img src = "https://i.hizliresim.com/64iwl64.png">