# 1. Temel SQL Komutları
* SQL, veritabanındaki verileri sorgulamamızı ve yönetmemizi sağlayan komutları barındırır.

## A. Data Manipülasyon Komutları (DML)
* Veri üzerinde işlemler gerçekleştirdiğimiz komutlar
    * **SELECT** : Veritabanındaki tablolardan kayıtları çeker.
    * **INSERT** : Tabloya yeni kayıt ekler.
    * **UPDATE** : Bir tablodaki kaydın bir ya da daha fazla alanını günceller, değiştirir.
    * **DELETE** : Bir tablodan kayıt siler. Tüm tabloyu da silebilir.
    * **TRUNCATE** : Tablonun içini boşaltır. Tablonun ilk oluşmuş haline dönülmesini sağlar ve içindeki kayıtları siler.
    
## B. Veritabanı Manipülasyon Komutları (DDL)
* Veritabanını nesneleri üzerinde işlemler yapmamızı sağlayan komutlar
    * **CREATE** : Bir veritabanı nesnesini oluşturur. Veritabanı, Tablo, View
        * **CREATE DATABASE** : Yeni veritabanı oluşturur.
        * **CREATE TABLE** : Yeni bir tablo oluşturur.
        * **CREATE INDEX** : Index oluşturur.
    * **ALTER** : Bir veritabanı nesnesinin özelliğini değiştirir.
        * **ALTER DATABASE** : Bir veritabanının özelliklerini değiştirir.
        * **ALTER TABLE** : Bir tablonun özelliklerini değiştirir..
    * **DROP** : Bir veritabanı nesnesini siler.
        * **DROP TABLE** : Bir tabloyu tamamen siler.
        * **DROP INDEX** : Index'i siler.

# 2. SELECT Komutu
* Verileri çekmemize yarayan bir komuttur.

<img src = "https://i.hizliresim.com/kri4zcu.png" width = 200>

* Seçilmek istenen sütunlar , ile ayrılarak yazılır. Eğer tüm sütunlar isteniyorsa * konur.
* Bağlantı üzerinden yeni **query** oluşturacaksan sorgulayacağın veritabanını yazmak için **USE** kullan.
* Eğer kolonları tek tek yazmak istemiyorsan tablonun altındaki **Columns**ı komutların arasına sürükle bırak.
* Burada sütunlar köşeli parantez içinde gelir bunun sebebi eğer sütun isimlerinde boşluk bıraktıysan hata vermesin diyedir.
* Tabloların kolon isimlerini verirken boşluk ve türkçe kullanma ve özel karakter olarak yalnızca _ kullan.

# 3. INSERT Komutu
* Bir tabloya yeni kayıtlar eklemek için kullanılan komuttur.

<img src = "https://i.hizliresim.com/4atw6gv.png" width = 200>

* **INTO** ile birlikte kullanılır.
* Tüm sütun isimlerini yazmak için * kullanılamaz.
* Otomatik artan bir sütun varsa yazılmaz.
* Kayıt eklemek istenen diğer tüm sütunlar değerleriyle birlikte yazılır.
* Sayısal değerler olduğu gibi yazılırken sözel değerler '' içinde yazılır.
* Tarih de '' içinde yazılırken 'YIL-AY-GÜN' şeklinde formatlanarak yazılır.

### Excel'den veri alma
* Excelde tutulan bir veri setini veritabanına eklemek için önce ilk satıra **INSERT** komutunu gir.
* Bu komutu = ile başlat ve "" içine yaz.
* **INSERT INTO TABLOADI(KOLONLAR) VALUES**'den sonra değerleri parantez içine tek tek yazmak için '"&HÜCREKODU&"' kalıbını kullan. 
* Tek bir satıra yaptıktan sonra komutu aşağıya kadar sürükle ve oluşan komutları kopyalayıp veritabanına at.

# 4. UPDATE Komutu
* Olan bir kaydı güncellemeye ve değiştirmeye yarar.
* Tüm sütunlar veya bir kaç sütun aynı anda istenildiği şekilde değiştirilebilir.

<img src = "https://i.hizliresim.com/ksd4299.png" width = 400>

### Doğum tarihine göre yaş güncelleme
* <code>DATEDIFF(YEAR, BIRTHDATE, GETDATE())</code> ile doğum tarihine göre güncelleme yapabilirsin.
* **DATEDIFF()**, iki tarih arasındaki farkı veren fonksiyondur. 
* **YEAR**, yıla göre alınacağını bildirir. 
* **BIRTHDATE**, CUSTOMERS tablomuzdaki doğum tarihi kolonunu temsil eder.
* **GETDATE()**, bugünün tarihini veren fonksiyondur.
* Eğer fonksiyonun ne yaptığını direkt görmek istiyorsan yine **SELECT** kullanabilirsin.

# 5. DELETE Komutu
* Kayıt silmek için kullanılan komuttur.

<img src = "https://i.hizliresim.com/82i3kp8.png" width = 200>

* **WHERE**'e şart yazılmazsa direkt tüm tablo, yazılırsa şarta göre kayıt siler.

# 6. TRUNCATE Komutu
* Tabloyu ilk oluşturduğumuz hale dönüştüren komuttur.

<img src = "https://i.hizliresim.com/azab1iv.png" width = 300>

* Eğer bir tablonun içini tamamen boşaltmak istiyorsan **DELETE** yerine **TRUNCATE** kullan.
* **DELETE** ile tablonun içindekileri silersen ID alanı hafızada kalır bir sonraki seferde kaldığı yerden devam eder. Ancak **TRUNCATE** ile tablonun içini boşaltırsan ID alanı en baştan başlar.

# 7. WHERE Şartı
* Veri seti içindeki verileri çekerken, silerken, eklerken, kısaca veri üzerinde işlemler yaparken belli şartlara bağlı yapmamızı sağlar.
* Örneğin <code>SELECT</code> ile **CUSTOMERS** tablosu çekilirken sadece İstanbuldan olan kişiler çekilebilir. 
    * <code>WHERE CITY = 'İSTANBUL'</code>
* Ya da yaşı 20'den fazla olan kişiler seçilebilir.
    * <code>WHERE AGE > 20</code>
* Ya da cinsiyeti erkek olan kişiler seçilebilir.
    * <code>WHERE GENDER = 'E'</code>
    
### WHERE ile birlikte kullanılan operatörler
<img src = "https://i.hizliresim.com/qm5io0a.png" align = left width = 340>

* <code>WHERE CITY = 'İSTANBUL'</code> İstanbul'dan olanlar
* <code>WHERE CIYY <> 'İSTANBUL'</code> İstanbul dışından olanlar
* <code>WHERE BIRTHDATE > '1990-01-01'</code> Tarihten sonra doğanlar
* <code>WHERE BIRTHDATE < '1990-01-01'</code> Tarihten önce doğanlar
* <code>WHERE BIRTHDATE >= '1990-01-01'</code> Tarihi de dahil eder
* <code>WHERE BIRTHDATE <= '1990-01-01'</code> Tarihi de dahil eder
* <code>WHERE AGE BETWEEN 20 AND 30</code> 20 ile 30 yaş arasındakileri getirir
* <code>WHERE CUSTOMERNAME LIKE 'ÖMER%'</code> İsmi ÖMER ile başlayanları getirir, %ÇOLAKOĞLU, %MİN%
* <code>WHERE CITY IN ('İSTANBUL', 'ANKARA', 'BURSA')</code> Şehri seçilen şehirler olanları getirir
* <code>WHERE CUSTOMERNAME NOT LIKE 'ÖMER%'</code> Tersi olanları getirir
* <code>WHERE CITY NOT IN ('İSTANBUL', 'ANKARA', 'BURSA')</code> Tersi olanları getirir

* <CODE>WHERE CITY <> 'İSTANBUL</CODE> = <CODE>WHERE NOT CITY = 'İSTANBUL'</CODE>
* <CODE>WHERE CITY = 'İSTANBUL</CODE> = <CODE>WHERE CITY IN 'İSTANBUL'</CODE>
* **Tarih formatını aralara - yazmadan YILAYGÜN şeklinde yaz.**
* <CODE>BETWEEN</CODE> >= ve <= anlamındadır yani yazılanları da dahil eder.
    * Tarihler '' içine sayılar doğrudan yazılır.  
* **Tablodaki verinin veri türünü sonradan değiştirmek için Tools > Options > Designers > Yeniden oluşturma**
* **WHERE** Şartı **INSERT** ile de kullanılabilir. Farklı bir tablodan verileri yeni bir tabloya atarken.

# 8. AND / OR Operatörleri
* **WHERE** şartları genelde tek bir şarta bağlı olarak kullanılmaz.
* Örneğin ili İstanbul ve ilçesi Üsküdar ya da Sarıyer olan müşterileri beraber getirmek isteyebilirsin. Bu gibi durumlarda **AND** / **OR** operatörleri kullanılır.
* <code>WHERE CITY = 'İSTANBUL' AND DISTRICT = 'SARIYER' OR DISTRICT = 'ÜSKÜDAR'</code>

### AND Operatörü
* **Bütün şartları karşıladığı sürece çalışan operatördür.**
* Bütün şartlar tek tek incelendiğinde sonuç olarak en fazla en az kayıt getiren şart kadar kayıt döndürülür.
* Aynı sütun için şartlar koşuyorsan **BETWEEN** de kullanabilirsin. (**NOT** da kullanılabilir.)
    * Mesela tarih sütunu için kullanabilirsin.
        * <code>DATE = '19900101' AND DATE = '20000101'</code> yerine;
        * <code>DATE BETWEEN '19900101' AND '20000101</code>

### OR Operatörü
* **En az bir şartı karşıladığı sürece çalışan operatördür.**
* Eğer aynı sütun birden fazla şartla getiriliyorsa şartların kayıtlarının birleşimi döndürülür.
* Aynı sütun için şartlar koşuyorsan **IN** de kullanabilirsin. (**NOT** da kullanılabilir.)

**SQL'de bir satırı yoruma almak için başına -- getir.**

# 9. DISTINCT Komutu
* Tekrar eden satırları tekilleştirmek amacıyla kullanılır.

<img src = "https://i.hizliresim.com/gydro54.png" width = 600>

<img src = "https://i.hizliresim.com/6lirsdh.png" width = 600>

* Klasik **SELECT** komutunun ardından konulur.

<img src = "https://i.hizliresim.com/7nto5vb.png" width = 200>

* Bir sütundaki **unique** kategorileri görmeye yarar.

# 10. ORDER BY Komutu
* Verileri belirli şartlara göre çekeceğin zaman bir sütuna göre sıralı şekilde getir diyebilirsin.
* Mesela yaşa göre sıralı olsun;

<img src = "https://i.hizliresim.com/m0k45or.png" width = 600>

* Kullanımı;

<img src = "https://i.hizliresim.com/p6sdqdh.png" width = 250>

* Birden fazla sıralı sıralama yapabilirsin. 
* **ASC**, Ascending -> Küçükten büyüğe, A'dan Z'ye, **Default**
* **DESC**, Descending -> Büyükten küçüğe, Z'den A'ya,
* Default sıralama **PRIMARY KEY** alanına göre gerçekleşir.
* **Sütun adı yerine sütunun sırasını da girebilirsin.**

# 11. TOP Komutu
* Veri setinden dönen kaydın tamamını görmek yerine bir kısmını görmemizi sağlar.
    * İlk 5, 100, %25

<img src = "https://i.hizliresim.com/dl1iod4.png" width = 200>

* N'den sonra **PERCENT** getirirsen yüzdesel olarak düşünür.

# SORULAR

#### SQL komutları temel anlamda nelerdir?
* Veri manipülasyonu ve veritabanı manipülasyonu komutları olarak ikiye ayrılır. SELECT, INSERT, DELETE, UPDATE, TRUNCATE veri manipülasyonu komutlarıdır. CREATE, ALTER, DROP veritabanı komutlarıdır.

#### Veri manipülasyonu ve Veritabanı manipülasyonu komutları ne demektir?
* Veri manipülasyonu komutları sadece veriyle ilgili çekme, ekleme, silme ve güncelleme komutlarıdır. Veritabanı manipülasyonu ise veritabanı nesneleri ile ilgilenir.

#### TRUNCATE ile DELETE arasında ne fark vardır?
* TRUNCATE tabloyu içini boşaltarak ilk haline getirirken, DELETE gerek koşula bağlı olarak gerekse doğrudan sadece tablodan veri siler. İçi boşaltılan tabloya yeni veriler eklenirken TRUNCATE baştan başlar, DELETE kaldığı yerden devam eder.

#### SELECT Komutu ne işe yarar ve nasıl kullanılır?
* Veri setinden istenilen şekilde verinin çekilmesini sağlar.
* <code>SELECT * FROM CUSTOMERS</CODE> en basit kullanımıdır.

#### INSERT Komutu ne işe yarar ve nasıl kullanılır?
* Veri setine kayıt eklemeye yarar.
* <code>INSERT INTO CUSTOMERS(CUSTOMERNAME, CITY) VALUES ('GİZEM KOÇ', 'ANKARA')</code> şeklindedir.

#### UPDATE Komutu ne işe yarar ve nasıl kullanılır?
* Veri setindeki belirli verileri değiştirmeye yarar.
* <code>UPDATE CUSTOMERS SET CITY = 'İSTANBUL'</CODE> gibi

#### DELETE Komutu ne işe yarar ve nasıl kullanılır?
* Veri setinden veri silmeye yarar.
* <code>DELETE FROM CUSTOMERS</CODE>

#### WHERE Şartı ile sorgu nasıl filtrelenir?
* Önce koşul koyacağın sütunu yazarsın ardından bir operatör ve koşul değeri. İsteğe bağlı olarak and ve or ile koşulları arttırırsın.

#### =, >, <, <>, LIKE, BETWEEN komutları nasıl kullanılır.
* WHERE içerisinde sütun ile istenen değer arasında kullanılır.

#### WHERE şartında AND ve OR kullanımı?
* Koşulları birleştirmek için kullanılır.

#### DISTINCT komutu ne işe yarar? Nasıl kullanılır?
* Sütunlardan sadece benzersiz değerleri çeker.
* <CODE>SELECT DISTINCT CITY FROM CUSTOMERS</CODE> gibi.

#### TOP komutu ne işe yarar? Nasıl kullanılır?
* Veri setinden istenilen sayıda kayıt çekmeye yarar.
* <CODE>SELECT TOP 10 * FROM CUSTOMERS</CODE> gibi.